@use "./variables" as *;

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner-container {
    width: 80vw;
    min-width: 15rem;
    background-color: $background-color-primary;
    border: 0.2rem solid $background-color-primary;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    min-height: 34rem;
    height: 80vh;
    max-height: 45rem;
    @media screen and (min-width: 425px) {
      width: 22rem;
    }
    .header {
      font-family: $font-numbers;
      height: 45%;
      border: 0.1rem solid $color-primary;
      color: $color-primary;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 40% 60%;
      align-items: end;
      .secondary-display {
        @include display-element(1.2rem, 1.3rem, 1.5rem, 1.5rem);
        p {
          max-height: 2rem;
        }
      }
      .primary-display {
        @include display-element(3.6rem, 3.8rem, 4rem, 1rem);
      }
    }
    .main {
      height: 55%;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
