@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Inter:wght@400;500;600&display=swap");

//remove font weights from above if not using

$font-buttons: "Inter", sans-serif;
$font-numbers: "Arima", cursive;

$background-color-primary: #100e0e;

$button-color-primary: rgb(99, 99, 206);
$button-color-secondary: rgb(53, 181, 53);
$button-color-operator: #5c5b5b;
$button-color-delete: rgb(198, 59, 59);

$color-primary: #ffffff;
