@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Inter:wght@600&display=swap");
.main__button {
  font: "Inter", sans-serif;
  font-weight: 600;
  background-color: inherit;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid rgb(99, 99, 206);
}
@media screen and (min-width: 425px) {
  .main__button {
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main__button {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.6rem;
  }
}
.main__button:focus {
  outline: none;
}
.main__button:hover {
  background-color: rgb(99, 99, 206);
}
.main__button:active, .main__button:focus {
  box-shadow: 0 0 0.2rem 0.2rem rgb(99, 99, 206);
}
.main__button--secondary {
  font: "Inter", sans-serif;
  font-weight: 600;
  background-color: inherit;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid rgb(53, 181, 53);
}
@media screen and (min-width: 425px) {
  .main__button--secondary {
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main__button--secondary {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.6rem;
  }
}
.main__button--secondary:focus {
  outline: none;
}
.main__button--secondary:hover {
  background-color: rgb(53, 181, 53);
}
.main__button--secondary:active, .main__button--secondary:focus {
  box-shadow: 0 0 0.2rem 0.2rem rgb(53, 181, 53);
}
.main__button--operator {
  font: "Inter", sans-serif;
  font-weight: 600;
  background-color: inherit;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid #5c5b5b;
}
@media screen and (min-width: 425px) {
  .main__button--operator {
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main__button--operator {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.6rem;
  }
}
.main__button--operator:focus {
  outline: none;
}
.main__button--operator:hover {
  background-color: #5c5b5b;
}
.main__button--operator:active, .main__button--operator:focus {
  box-shadow: 0 0 0.2rem 0.2rem #5c5b5b;
}
.main__button--delete {
  font: "Inter", sans-serif;
  font-weight: 600;
  background-color: inherit;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid rgb(198, 59, 59);
}
@media screen and (min-width: 425px) {
  .main__button--delete {
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main__button--delete {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.6rem;
  }
}
.main__button--delete:focus {
  outline: none;
}
.main__button--delete:hover {
  background-color: rgb(198, 59, 59);
}
.main__button--delete:active, .main__button--delete:focus {
  box-shadow: 0 0 0.2rem 0.2rem rgb(198, 59, 59);
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-container .inner-container {
  width: 80vw;
  min-width: 15rem;
  background-color: #100e0e;
  border: 0.2rem solid #100e0e;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  min-height: 34rem;
  height: 80vh;
  max-height: 45rem;
}
@media screen and (min-width: 425px) {
  .outer-container .inner-container {
    width: 22rem;
  }
}
.outer-container .inner-container .screen {
  font-family: "Arima", cursive;
  height: 45%;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  align-items: end;
}
.outer-container .inner-container .screen .secondary-display {
  text-align: right;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}
@media screen and (min-width: 425px) {
  .outer-container .inner-container .screen .secondary-display {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .outer-container .inner-container .screen .secondary-display {
    font-size: 1.5rem;
  }
}
.outer-container .inner-container .screen .secondary-display::-webkit-scrollbar {
  display: none;
}
.outer-container .inner-container .screen .secondary-display p {
  max-height: 2rem;
}
.outer-container .inner-container .screen .primary-display {
  text-align: right;
  font-size: 3.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}
@media screen and (min-width: 425px) {
  .outer-container .inner-container .screen .primary-display {
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 768px) {
  .outer-container .inner-container .screen .primary-display {
    font-size: 4rem;
  }
}
.outer-container .inner-container .screen .primary-display::-webkit-scrollbar {
  display: none;
}
.outer-container .inner-container .main {
  height: 55%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */